<html>
<head>
</head>
    <body>
        <h1>Hangman</h1>
        <h3><%= @message %></h3>
        <p><%= @announce %></p>
        <form>
            <input type="text" name="play" />
            <input type="submit" name="submit" />
        </form>
        <form>
            <input type="text" name="guess" />
            <input type="submit" name="guess!" />
        </form>
    
    </body>
</html>