body {
    font-family: sans-serif;
    background-image: url("images/wildwest.jpeg");
}

.game {
    margin-left: 75px;
    margin-top: 75px;
}

p {
    padding-top: 20px;
}

.form {
    float: left;
    color: #fff;
}

.display {
    margin-top: 200px;
    margin-right: 200px;
    float: right;
    color: indianred;
}

#display {
    font-size: 1.5em;
    text-align: center;
}