body {
    font-family: sans-serif;
    background-image: url("images/wildwest.jpeg");
    font-size: 14px;
}

.game {
    margin-left: 75px;
    margin-top: 75px;
}

p {
    padding-top: 20px;
}

.form {
    padding: 15px;
    float: left;
    color: #fff;
    background: sandybrown;
    border: 1px solid brown;
    opacity: .90;
    border-radius: 5px;
}

.display {
    margin-top: 200px;
    margin-right: 200px;
    float: right;
    color: indianred;
    background: sandybrown;
    border: 1px solid brown;
    opacity: .90;
    padding: 10px;
    border-radius: 5px;
}

#display {
    font-size: 1.5em;
    text-align: center;
}